@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .App-logo {
    height: 50vmin;
    pointer-events: none;
  }
  h1 {
    @apply text-4xl font-bold text-white;
  }
  .description {
    @apply max-w-3xl py-6 m-auto text-xl font-medium text-center text-gray-200;
  }
  .btn {
    @apply hover:bg-white hover:text-red-600 h-16 px-3 py-3 m-3 text-white transition-all duration-150 ease-in-out bg-red-600 rounded-lg shadow-lg fill-current;
  }
  #menu-toggle:checked + #menu {
    display: block;
  }
}

@variants responsive {
  .text-shadow-sm {
    text-shadow: 1px 1px 2px black;
  }
  .text-shadow {
    text-shadow: 2px 2px 4px black;
  }
  .text-shadow-md {
    text-shadow: 4px 4px 8px black;
  }
  .text-shadow-lg {
    text-shadow: 15px 15px 30px black;
  }
  .text-shadow-none {
    text-shadow: none;
  }
}
